*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: #D2691E;
    color: antiquewhite;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    margin-left: 16px;
    font-size: 24px;
}
header .links li a{
    color:antiquewhite;
    text-decoration: none;
    font-size: 24px;
}
header .links li a:hover{
    color: black;
    font-size: 26px;
    transition: 0.25s;
}
.links img{
    height: 24px;
}
header li{
    display: inline;
    padding: 10px;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#img-mystika{
    /*box-shadow: 1px 1px 6px black;*/
    max-width: 300px;
    width:100%;
    height: fit-content;
}
#search-form {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
}
#procurar {
    font-family: "Noto Sans KR", sans-serif;
    width: 300px;
    height: 60px;
    padding: 10px;
    box-shadow: 1px 1px 6px black;
    resize:none;
    margin-right: 20px;
}
#botao{
    padding: 10px;
    width: 100%;
    height: 60px;
    max-width: 70px;
    border-radius: 10%; 
    align-self: flex-start;  
    cursor: pointer;
}
hr{
    opacity: 50%;
}
h2{
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:flex-start;
}
#produtos{
    margin-top: 25px;
    gap:30px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
    text-decoration: none;
   /* flex-wrap: wrap;*/
}
#produtos ul{
    list-style-type: none;
}

h2, h3{
    color: #D2691E;
}
/*#paragraph p{ 
    text-align: justify;
    text-indent: 50px;
    width: 650px;
}*/
.container li{
    display: inline;
}
.container li a{
    text-decoration: none;
}

/*.container li a:hover{
    color:#B22222;
    font-size: 20px;
    transition: 0.25s;
}*/
.container img{
    width:60px;
}
.test-img1 {
    gap:20px;
    width:90px;
}
.test-img2 ,
.test-img3 {
    gap:20px;
    width: 110px;
}
#contact{
   display:flex;
   margin-top: 16px;
   padding: 16px;
}
section h2{
    margin-bottom: 16px;
}
section p, 
form input, 
textarea{
    margin-bottom: 8px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
section img{
    margin-right: 32px;
}
/*.social-links img{
    height: 24px;
}
.social-links li{
    display: inline;
    margin-right: 8px;
}
.social-links li a{
    text-decoration: none;
}*/
.contact-methods{
    display: flex;
    justify-content: space-between;
}
form input,
form textarea, 
form button{
    display: block;
    width: 320px;
    padding: 5px;
    margin-bottom: 10px;
}
input:focus, textarea:focus{
    outline-color: #D2691E;
}
form textarea{
    resize: none;
    height: 150px;
}
.address{
    margin-bottom: 16px;
    align-content: flex-end;
}
form button{
    background-color: #D2691E;
    color: antiquewhite;
    font-size: 18px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    cursor: pointer;
}
form button:hover{
    background-color: #8B4513;
}
footer{
    background-color: #D2691E;
    color:antiquewhite;
    padding: 16px 0;
}